@model MVC_Grupp_5.Models.Vehicle

@{
    ViewData["Title"] = "CheckInSuccess";
}

<h1>Check In Successful</h1>
<p>Your vehicle has been successfully checked in.</p>

<a asp-action="Index">Back to List of all parked vehicles</a>