@model MVC_Grupp_5.Models.Vehicle

@{
    ViewData["Title"] = "CheckInSuccess";
}

<h1> @ViewBag.RegNr Checked In Successful</h1>

<a asp-action="Index" class="btn btn-primary">Back to List of all parked vehicles</a>