@model IEnumerable<MVC_Grupp_5.Models.Vehicle>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ParkedVehicle</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 d-flex justify-content-center">
            <div class="card shadow primary-bg-color text-about">
                    <h2 class="heading1"><i class=""></i><a asp-action="Create" asp-controller="Vehicles">Check In your vehicle.</a></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3 d-flex justify-content-center">
            <div class="card shadow primary-bg-color text-about">
                    <h2 class="heading1"><i class="f"></i> <a asp-action="Index" asp-controller="Vehicles">Display all parked vehicles.</a></h2>
                    <p class="text-center my-auto">
                        This page contains the following:<br /><br />
                    </p>
                    <p class="text my-auto">
                        - <b>List</b> of all parked vehicles;<br />
                        - Possibility to <b>Update</b> info of your parked vehicle;<br />
                        - Possibility to see <b>Details</b> of your parked vehicle;<br />
                        - Possibility to <b>Check Out</b> with Receipt for the parked time of your vehicle;<br /><br />
                    </p>
            </div>
        </div>
    </div>
</div>

